# Port to initializae Node.js server
PORT=3000

# Salt value to create a password for new users
SALT='1a2b'

# Username who has an permission to use database
DB_USER='crasher'

# User password to get an access to database
DB_PASSWORD='12345abc!'

# Port to initialize database service
DB_PORT=

# Database name
DB_NAME='my_awesome_database'

# Path to a directory to store files
UPLOAD_DIRECTORY='files'

# Secret for generating new JWTs
JWT_SECRET='my_awesome_jwt_secret'

# Host the server is running
HOST='localhost'

# Directory for keeping static resources such as default avatar image
STATIC_DIRECTORY_PATH='/default'
